h1::first-letter{
    font-size: 2em;
    font-style: italic;
}
p::first-line{
    background-color: hsl(60, 100%, 77%);
}
p::selection{
    color: white;
    background-color: hsl(0, 0%, 21%);
}
#fruit li::before{
    
}
#apple::after{
    content: "🍎";
}
#pea::after{
    content: "🍐";
}
#banana::after{
    content: "🍌";
}
#fruit li::marker{
    content: "✔️";
    color: hsl(120, 100%, 25%);
    font-size: 1.2em;
}